.v-msg-container {
  position: fixed;
  z-index: 10000;
  width: 360px;
  padding-left: 10px;
  padding-right: 10px;
}

.v-msg-top-right {
  top: 10px;
  right: 0;
}

.v-msg-top-left {
  top: 10px;
  left: 0;
}

.v-msg-bottom-left {
  bottom: 10px;
  left: 0;
}

.v-msg-bottom-right {
  bottom: 10px;
  right: 0;
}

.v-msg-top-center, .v-msg-bottom-center, .v-msg-alert {
  left: 50%;
  margin-left: -180px;
}

.v-msg-top-center {
  top: 10px;
}

.v-msg-bottom-center {
  bottom: 10px;
}

.v-msg-alert {
  top: 20%;
}

.v-msg-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1600;
  background-color: #000;
  opacity: 0.5;
}

@media (max-width: 360px) {
  .v-notify-container {
    width: 100%;
  }
}